[submodule "external/tclap"]
	path = external/tclap
	url = https://github.com/mirror/tclap.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/wjakob/tbb.git
